.group-detail__title {
    display: flex;
    width: calc(100% - 48px);
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    box-sizing: border-box;
    margin: 24px;
    background-color: #323079;
    border-radius: 12px;

    button {
        display: flex;
        background-color: #5b57d9;
        padding: 10px 35px;
        font-size: 1.1rem;
        font-weight: 900;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
}



.group-detail__body {
    display: flex;
    flex: 1; 
    min-height: 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 24px 30px 24px;
    box-sizing: border-box;
    border-radius: 0px 0px 12px 12px;
    opacity: 1;
    gap: 20px;
}

.group-detail__body-projects {
    min-height: 0;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 70%;
    gap: 20px;
}

.group-detail__body-members {
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    width: 30%;
    gap: 20px;
}

.group-detail__member-container {
    display: flex;
    min-width: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #5b57d9;
    border-radius: 12px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.group-detail__member-body {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 14px;
    }
}