.context-right-menu__body {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: black;
    font-size: 1rem;
    z-index: 2000;
    opacity: 0;
    animation: opacityIn 0.5s ease-in-out forwards;
}


@keyframes opacityIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}