.task-chat__title {
    display: flex;
    margin: 10px 0;
    font-family: var(--main-font-bold);
    font-size: 1.3rem;

    h2 {
        margin: 0;
    }
}


.chat-task__body {
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    border: 0.2px solid rgb(255, 255, 255, 0.5);
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    max-height: 77vh;
}


.task-chat__field {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
}

.task-chat__message-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 80%;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
    background-color: rgb(23, 23, 23);
    border: 1px solid rgb(211, 211, 211, 0.4);
    margin: 0;
    border-radius: 5px;


    p {
        display: flex;
        margin: 0;
    }
}

.task-chat__message-content.user {
    border: 1px solid rgb(0, 137, 250);
}

.task-chat__answer {
    display: flex;
    border: 1px solid rgb(36, 187, 36);
    padding: 3px 7px;
    border-radius: 6px;

}


.task-chat__message-body {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
    align-items: start;
    margin-bottom: 25px;
}

.task-chat__message-body.user {
    align-items: end;
}


.task-chat__images-body {
    display: flex;

    img {
        display: flex;
        height: 5rem;
        width: 4rem;
        border-radius: 12px;
        object-fit: fill;
        cursor: pointer;
    }
}

.task-chat__message-username {
    position: absolute;
    font-size: 1rem;
    display: flex;
    left: 0;
    top: 0;
    transform: translate(20%, -37%);
    background-color: rgb(32, 32, 32);
}

.task-chat__message {
    display: flex;
}

.task-chat__files-preview-body {
    display: flex;
}

.task-chat__files-preview-body.open {
    gap: 15px;
    padding: 20px 10px;
}

.files-preview-container {
    display: flex;
    position: relative;

    span {
        display: flex;
        position: absolute;
        height: 16px;
        width: 16px;
        right: 0;
        top: 0;
        background-color: black;
        border: 0.5px solid white;
        transition: transform 0.4s ease-in-out, color 0.4s ease-out;
        border-radius: 50%;
        z-index: 2;
        justify-content: center;
        align-items: center;
        padding: 4px;
        cursor: pointer;

        &:hover {
            color: rgb(180, 40, 40);
            transform: scale(1.1);
        }
    }
}

.task-chat__answer-content {
    display: flex;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.task-chat__answer-content.open {
    padding: 10px 18px;
    border: 0.3px solid rgb(230, 230, 230, 0.3);
    margin-top: 10px;
    opacity: 1;
}


.task-chat__form {
    display: flex;
    margin-top: 20px;
    gap: 15px;

    input[type="file"] {
        display: none;
    }

    button {
        display: flex;
        border-radius: 12px;
        border: 0.3px solid rgb(255, 255, 255, 0.5);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: rgb(0, 137, 250);
        }
    }
}


.clips-file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.3px solid rgb(255, 255, 255, 0.3);
    border-radius: 12px;
    height: 100%;
    padding: 8px 12px;
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.task-chat__input {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 12px;
}