.timer-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timer-time {
    display: flex;
    border: 0.5px solid white;
    padding: 5px;
    border-radius: 12px;
    font-size: 1.3rem;
}

.timer-button-body {
    display: flex;
    gap: 10px;

    button {
        display: flex;
        background-color: blue;
        padding: 5px;
        box-sizing: border-box;
        font-size: 1.3rem;
        border-radius: 12px;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
            background-color: white;
            color: blue;
        }
    }
}