.timer-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timer-time {
    display: flex;
    padding: 3px 5px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #5b57d9;
    font-family: var(--main-font-bold);
    cursor: pointer;
}

.timer-button-body {
    display: flex;
    gap: 10px;

    button {
        display: flex;
        background-color: blue;
        padding: 4px 6px;
        box-sizing: border-box;
        font-size: 1.2rem;
        border-radius: 12px;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
            background-color: white;
            color: blue;
        }
    }
}