.active-tasks__body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.active-tasks__container {
    display: flex;
    width: 35%;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding-right: 20px;
    scrollbar-width: none;
}

.active-tasks__container::-webkit-scrollbar { display: none; }

.active-task__card {
    display: flex;
    max-width: 450px;
    position: relative;
    flex-direction: column;
    border-radius: 8px;
    border: 0.1px solid rgba(255, 255, 255, 0.300);
    box-shadow: 6px 4px 4px rgb(255, 255, 255);
    padding: 12px 12px 30px 12px;
    box-sizing: border-box;
    transition: box-shadow 0.4s ease-in-out, border 0.4s ease-in-out;
    cursor: pointer;

    h2 {
        margin: 0;
    }

    h4 {
        margin: 5px 0;
    }

    p {
        position: absolute;
        margin: 0;
        right: 15px;
        bottom: 5px;
        color: rgba(255, 255, 255, 0.600);
    }

    &:hover {
        animation: gradientIn 1s ease-in-out forwards;
        animation-delay: 0.2s;
    }
}

.active-task__card.active {
    box-shadow: 6px 4px 4px rgb(105, 105, 255);
    border-color: rgb(105, 105, 255);
}



.active-tasks__detaiil {
    display: flex;
    width: 65%;
}

@keyframes gradientIn {
    0% {
        color: white;
    }

    25% {
        color: rgb(105, 105, 255);
    }

    100% {
        color: white;
    }
}