.project-card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 180px;
    background:
        linear-gradient(to bottom, #1a1a2e, #2e2b78, #1a1a2e) padding-box;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 12px;

    .created_date {
        display: flex;
        width: 100%;
        justify-content: end;
        align-items: center;
        margin: 10px 0;
        font-family: var(--main-font-bold);
        font-weight: 900;
    }

    &:hover {
        background:
            linear-gradient(to bottom, #2e2b78, #1a1a2e, #2e2b78) padding-box;
    }
}

.project-card__title {
    display: flex;

    h2 {
        margin: 10px 0;
        font-size: 1.3rem;
        font-family: var(--main-font-bold);
        font-weight: 900;
    }
}

.project-card__body {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 12px;
    gap: 15px;
}

.project-card__task-card {
    display: flex;
    background-color: #1a1a2e;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 12px;
    padding: 8px;
    box-sizing: border-box;
    gap: 10px;

    p {
        margin: 0px;
    }
}

.project-card__task-not-found {
    display: flex;
    background-color: #1a1a2e;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 12px;
    padding: 8px;
    box-sizing: border-box;
    gap: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }

    a {
        display: flex;
        color: white;
        background-color: #5b57d9;
        padding: 10px 35px;
        font-size: 1.1rem;
        font-weight: 900;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
}