.performers-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    overflow-y: auto;
}

.user-item-card {
    display: flex;
    border: 1px solid white;
    border-radius: 12px;
    background-color: rgb(21, 21, 21);
    padding: 14px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    p{
        display: flex;
        font-size: 1rem;
    }

    input[type="checkbox"]{
        display: flex;
        border-radius: 12px;
        accent-color: blue;
        height: 20px;
        width: 20px;
    }
}