.subtasks__base-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 25px;
    flex: 1;
    min-height: 0;
    padding: 20px 0px;
    box-sizing: border-box;
}

.subtask__row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    
    p {
        margin: 0;
        font-weight: 900;
    }
}

.subtask__row.active {
    filter: brightness(0.4);
    pointer-events: none;
}
