.logs__filters-base-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 400px;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(255, 255, 255, 0.4);
    min-height: 600px;
    border-radius: 0px 12px 12px 0px;
    top: 10%;
    left: 0;
    transform: translateX(-200%);
    transition: transform 0.4s ease;

    button {
        display: flex;
        background-color: rgb(0, 137, 250);
        transition: background-color 0.4s ease-in-out;

        &:hover {
            background-color: rgb(1, 89, 161);
        }
    }
}

.logs__filters-base-container.active {
    transform: translateX(0%);
}

.logs__filters-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    box-sizing: border-box;
    margin-bottom: 20px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(15, 15, 15);
        border: 0.2px solid rgb(0, 137, 250);
        transition: transform 0.4s ease-out, background-color 0.4s ease-out;

        &:hover {
            background-color: rgb(21, 21, 21);
            transform: scale(1.1);
        }
    }
}

.logs__filters-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 460px;

    select {
        height: 45px;
        padding: 10px 40px 10px 10px;
        color: #FFF;
        font-size: 18px;
        background: rgb(0, 0, 0);
        border: 1px solid rgb(0, 137, 250);
        border-radius: 12px;
        appearance: none; /* Убираем стандартную стрелочку */
        background-image: url('https://teststepbucket.s3.amazonaws.com/icons/create_test_arrow.svg'); /* Добавляем свою стрелку */
        background-repeat: no-repeat;
        background-position: right 10px center; /* Положение стрелки */
        background-size: 24px; /* Размер стрелки */
        transition: outline 0.4s ease-in, box-shadow 0.4s ease-in-out;

        &:focus {
            outline: 1px solid rgb(0, 137, 250);
            box-shadow: 2px 3px 3px rgb(0, 137, 250);
        }
    }
}

.logs__filters-body-row {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    box-sizing: border-box;
    margin-bottom: 20px;

    label {
        display: flex;
        font-size: 1.3rem;
    }
}

.logs__filters-button-container {
    display: flex;
    width: 100%;
    padding: 15px 25px;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
}


.logs__filters-button-title {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 20px;
    padding: 10px 40px;
    box-sizing: border-box;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    img {
        display: flex;
        overflow: hidden;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="checkbox"] {
        border-radius: 25%;
        height: 16px;
        width: 16px;
        accent-color: rgb(0, 137, 250);
    }
}


.logs-base-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
    padding: 30px 0px 30px 40px;
    overflow-y: auto;
    gap: 25px;
}