.logs__filters-base-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 300px;
    background-color: #0e0812;
    border: 1px solid #323079;
    min-height: 600px;
    border-radius: 0px 12px 12px 0px;
    top: 10%;
    left: 0;
    transform: translateX(-200%);
    transition: transform 0.4s ease;
    z-index: 2000;

    button {
        display: flex;
        background-color: #5b57d9;
        padding: 10px 35px;
        font-size: 1.1rem;
        font-weight: 900;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
    
}

.logs__filters-base-container.active {
    transform: translateX(0%);
}

.logs__filters-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    box-sizing: border-box;
    margin-bottom: 20px;

    button {
        display: flex;
        background-color: #5b57d9;
        padding: 8px 16px;
        font-size: 1.4rem;
        font-weight: 900;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
    
}

.logs__filters-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 460px;
    width: 100%;
}

.logs__filters-body-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 25px;
    box-sizing: border-box;
    margin-bottom: 20px;

    label {
        display: flex;
        font-size: 1.3rem;
    }
}

.logs__filters-button-container {
    display: flex;
    width: 100%;
    padding: 15px 25px;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
}


.logs__filters-button-title {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 20px;
    padding: 10px 40px;
    box-sizing: border-box;


    img {
        display: flex;
        overflow: hidden;
        background-color: #5b57d9;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
    }

    input[type="checkbox"] {
        border-radius: 25%;
        height: 16px;
        width: 16px;
        accent-color: rgb(0, 137, 250);
    }
}


.logs-base-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
    padding: 30px 0px 30px 40px;
    overflow-y: auto;
    gap: 25px;
}