.registration-page__background {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.registration-page__body {
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    align-items: center;
    justify-content: center;

    background-color: #1a1428;
}


.registration-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    
    div {
        display: flex;
        max-width: 200px;
        flex-direction: column;
    }
}

.registration-button-container {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;

    button {
        display: flex;
        background-color: #5b57d9;
        padding: 12px 20px;
        font-size: 1.1rem;
        font-weight: 200;
        border-radius: 4px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
}