.diagram-container__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.diagram-statistic-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        display: flex;
        box-sizing: border-box;
        margin: 0;
        padding: 9px 16px;
        border: 0.1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        cursor: pointer;
    }

    .countUsers {
        border-color: rgb(215, 56, 56);
        color: rgb(215, 56, 56);
    }

    .duration {
        border-color: rgb(19, 167, 19);
        color:  rgb(19, 167, 19);
    }

    .count {
        border-color: rgb(0, 137, 250);
        color: rgb(0, 137, 250);
    }
}