.header {
    display: flex;
    box-sizing: border-box;
    width: 96%;
    justify-content: space-between;
    margin: 20px auto;
    z-index: 900;
}


.header-title {
    display: flex;
    color: #FFFF !important;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    font-family: Trebuchet MS, sans-serif;
    

    a {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 1000 !important;
    }
}

.header-title-name {
    color: #FFFFFF;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000 !important;
    font-size: 1.5rem;
    padding: 0px;
    font-family: Trebuchet MS, sans-serif;
    transition: color 0.3s ease-in-out;

    &:hover {
        color:  #EBD6FB;
    }
}


.header-body {
    display: flex;
    gap: 35px;

    a {
        display: flex;
        color: #EBD6FB;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 100;
        font-family: Trebuchet MS, sans-serif;
        position: relative;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            bottom: -3px; 
            left: 50%;
            width: 0%;
            height: 1.5px;
            background-color: #EBD6FB;
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}


.header-authenticate-body {
    display: flex;

    a, button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background-color: #5b57d9;
        border-radius: 12px;
        padding: 8px 10px;
        font-size: 0.9rem;
        font-weight: 600;
        font-family: Arial, sans-serif;
        transition: background-color 0.4s ease;

        &:hover {
            background-color: #4441b1;
        }
    }
}


.header-notify-and-logout {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    img {
        height: 24px;
        width: 22px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}
