.add-members-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 20px;
    overflow-y: auto;
}

.add-members-title-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-bold);
    font-size: 1rem;
}

.add-members-form-body {
    display: flex;
    margin: 20px 0;
    width: 100%;

    form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 80%;
    }
}

.add-member__user-card {
    display: flex;
    max-width: 400px;
    padding: 12px;
    gap: 20px;
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    img {
        border-radius: 50%;
    }

    button {
        display: flex;
        padding: 12px;
        background-color: rgb(0, 137, 250);
        font-family: var(--main-font-bold);
        transition: color 0.4s ease-out, background-color 0.5s ease-in-out;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}