.add-members-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 20px;
    overflow-y: auto;
}

.add-members-title-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-bold);
    font-size: 1rem;
}

.add-members-form-body {
    display: flex;
    margin: 20px 0;
    width: 100%;

    form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 80%;
    }
}

.add-member__user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32294a;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 12px;
    opacity: 0;
    animation: fadeIn 0.4s ease forwards;

    div {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
        }
    }

    button {
        display: flex;
        padding: 8px 12px;
        background-color: #5b57d9;
        font-family: var(--main-font-bold);
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background-color: #4441b1;
        }
    }
}