.login-page__background {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-page__body {
    display: flex;
    max-width: 700px;
    width: 100%;
    gap: 25px;
    padding: 40px;
    background-color: rgb(14, 14, 14);
    border-radius: 12px;
    animation: fadeIn 0.4s ease-in-out;

}

.login-form {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        font-size: 1.8rem;
        width: 100%;
        justify-content: start;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }

    label {
        display: flex;
        font-size: 1.2rem;
        width: 100%;
        justify-content: start;
        align-items: center;
        margin: 0;
        margin-bottom: 9px;
    }

    input {
        margin-bottom: 15px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 140px;
        width: 100%;
        margin-top: 30px;
        background-color: rgb(0, 84, 163);
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    #register-div {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        margin-top: 15px;
        color: rgb(39, 39, 254);
        transition: color 0.4s ease-in-out;

        &:hover {
            color: rgb(108, 108, 248);
        }
    }
}

.login-from-field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.login-form-show-password {
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;

    input[type="checkbox"] {
        accent-color: rgb(0, 126, 243);
        margin: 0;
        width: 20px;
        height: 20px;
        border-radius: 8px;
    }

    p {
        margin: 0;
    }
}

.login-page__image-container {
    display: flex;
    position: relative;
    width: 50%;
    min-height: 100%;
    overflow: hidden;

    img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 12px;
    }

    h2 {
        display: flex;
        position: absolute;
        top: 1;
        left: 50%;
        transform: translate(-50%, -10%);
        color: rgba(255, 255, 255, 0.534);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}