.task-component__base-container {
    display: flex;
    width: 100%;
    max-height: 700px;
    flex: 1;
}

.task-component__side-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 10px 24px 10px 6px;
    box-sizing: border-box;
    border-right: 0.2px solid #3b3887ab;

    svg {
        width: 30px;
        height: 30px;
        transition: transform 0.4s ease-out, color 0.4s ease-in-out;
        cursor: pointer;
        padding: 6px;
        border-radius: 12px;
        

        &:hover {
            transform: scale(1.2);
            color: #5b57d9;
        }
    }

    .active {
        color: #5b57d9;
        transform: scale(1.2);
    }
}

.task-component__base-window {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
}

.task-component__base-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 00px 0px 20px 20px;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 0.2px solid #3b3887ab;

    h2 {
        margin: 0;
        font-size: 1.5rem;
    }
}