.group-navigation-block {
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding: 16px 40px;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 20px auto 10px auto;
    font-family: var(--main-font);
    align-items: center;
    justify-content: space-between;
    animation-delay: 0.3s;

    button {
        display: flex;
        background-color: #5b57d9;
        padding: 10px 35px;
        font-size: 1.1rem;
        font-weight: 900;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
}


.group-navigation-block__filter {
    display: flex;
    align-items: center;
    position: relative;

    label {
        position: absolute;
        display: flex;
        box-sizing: border-box;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        
        font-size: 1rem;
        background-color: transparent;
        padding: 5px;
        margin-right: 10px;
        font-family: var(--main-font-bold);
        font-weight: 900;
        
        pointer-events: none;
        transition: top 0.3s ease, transform 0.3s ease, font-size 0.3s ease, background-color 0.6s ease;
    }

    select:focus + label,
    select.has-value + label {
        top: -15px;
        transform: translateY(0);
        font-size: 0.8rem;
    }

    select {
        height: 45px;
        padding: 10px 40px 10px 10px;
        color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: var(--main-font-bold);
        font-weight: 400;
        line-height: 146%;
        background: #2c2b5b;
        border: 1px solid #2c2b5b;
        border-radius: 12px;
        appearance: none;
        background-image: url('https://teststepbucket.s3.amazonaws.com/icons/create_test_arrow.svg');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 24px;
        outline: 1px solid #2c2b5b;
        transition: outline 0.4s ease-in, box-shadow 0.4s ease-in-out;

        &:focus {
            outline: 1px solid #5b57d9;
            box-shadow: 0 0 20px rgba(123, 47, 190, 0.6);
        }
    }
}

.group-form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px;
    max-width: 1240px;
    padding: 0px 40px 0px 40px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #100913;
    interpolate-size: allow-keywords;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    
    h2 {
        display: flex;
        font-family: var(--main-font-bold);
        font-weight: 700;
        font-size: 1.6rem;
        margin: 10px auto;
    }

    input {
        background-color: #2c2b5b;
        font-size: 1rem;
        padding: 8px 14px;
        border: 1px solid #2c2b5b;
        border-radius: 12px;
        box-shadow: none;
        transition: border 0.4s ease-in-out, padding 0.3s ease, outline 0.4s ease, box-shadow 0.4s ease-out;

        &:hover {
            outline: 1px solid #5b57d9;
            border: 1px solid #5b57d9;
        }

        &:focus {
            box-shadow: 0 0 0 3px #5b57d9;
        }
    }

    input::placeholder {
        color: rgb(122, 122, 122);
    }

    button {
        display: flex;
        background-color: #5b57d9;
        padding: 12px 20px;
        font-size: 1.1rem;
        font-weight: 200;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
}

.group-form-body.active {
    min-height: 40%;
}

.active-button {
  background-color: #4441b1 !important;
}


.group-cards-body {
    display: grid;
    width: 100%;
    max-width: 1300px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    gap: 20px 20px;
    align-items: start;
    justify-content: center;
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
    margin: 20px auto;
}
