

.project-base-container__body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.droppable-container__body {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 0.3px solid rgb(255, 255, 255, 0.3);
    border-radius: 12px;
    background-color: rgb(15, 15, 15);
    padding: 24px;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-family: var(--main-font-bold);

    p {
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: var(--main-font-bold);
        font-size: 1.5rem;
    }
}

.droppable-container__title {
    display: flex;
    justify-content: center;
}

.task-column-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}