.task-base__container-body {
    display: flex;
    max-width: 1300px;
    height: 100%;
    gap: 20px;
    padding: 24px;
    box-sizing: border-box;
}

.delete-window__overlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.delete-window__overlay.show {
    opacity: 1;
    z-index: 500;
}

.task-base__title-body {
    position: relative;
    display: flex;
    width: calc(100% - 48px);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #1a1428;

    img {
        display: flex;
        background-color: #5b57d9;
        padding: 10px 20px;
        font-size: 1.1rem;
        font-weight: 900;
        border-radius: 12px;
        transition: background-color 0.5s ease;
        font-family: var(--main-font-bold);

        &:hover {
            background-color: #4441b1;
        }
    }
}


.task-base__title-more-info {
    display: none;
    position: absolute;
    background-color: rgb(15, 15, 15);
    border: 0.5px solid white;
    z-index: 10000;
    top: 50%;
    right: 4%;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    transform: translateX(-10%);

    #delete {
        font-family: var(--main-font-bold);
        border-bottom: 0.3px solid rgb(255, 255, 255, 0.3);
        transition: color 0.4s ease-in-out, border 0.4s ease-out;
        cursor: pointer;

        &:hover {
            color: red;
            border-bottom: 0.3px solid red;
        }
    }

    #settings, #info {
        font-family: var(--main-font-bold);
        border-bottom: 0.3px solid rgb(255, 255, 255, 0.3);
        transition: color 0.4s ease-in-out, border 0.4s ease-out;
        cursor: pointer;

        &:hover {
            color: rgb(0, 137, 250);
            border-bottom: 0.3px solid rgb(0, 137, 250);
        }
    }
}

.task-base__title-more-info.show {
    display: flex;
    flex-direction: column;
}


.task-base__container-info-table {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 0.3px solid rgb(255, 255, 255, 0.3);
    border-radius: 12px;
    background-color: rgb(15, 15, 15);
    padding: 24px;
    gap: 10px;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease-in-out forwards;

    h2 {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: var(--main-font-bold);
        font-size: 1.17em;
    }

    p {
        font-size: 1.2rem;
        font-family: var(--main-font);
        margin: 0;
    }
}