.draggble-item {
    display: flex;
    background-color: #5b57d9;
    border: 2px solid #4441b1;
    font-family: var(--main-font-bold);
    font-weight: 600;
    font-size: 1rem;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
    transition: background-color 0.5s ease;
    transform: scale(0);
    animation: scaleIn 0.4s ease-out forwards;

    &:hover {
        background-color: #4441b1;
    }
}

.draggble-item__container {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    transition: color 0.2s ease-in-out;
}


.draggble-item.overlay {
    display: flex;
    width: 100%;
    transform: scale(1);
    font-family: var(--main-font-bold);
    justify-content: space-between;
    animation: fadeIn 0.5s ease-in-out forwards;
    /* border: 0.3px solid rgb(0, 137, 250) !important; */
}

.draggble-item.unactive {
    color: rgba(255, 255, 255, 0.366)
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}