.group-logs-card-body {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    background-color: black;
    color: rgb(255, 255, 255);
    background: 
        linear-gradient(to bottom right, #1a1a2e,#1a1a2e, #5b57d9) padding-box;
    padding: 26px 24px 24px 24px;
    border: 1px solid #21213b;
    box-sizing: border-box;
    flex-direction: column;
    transition: all 0.3s ease-out;
    transform: scale(0);
    animation: scaleIn 0.5s ease forwards;
    cursor: pointer;

    &:hover {
        border-color: #ffff;
        box-shadow: 1px 2px 2px #ffff;
        background: 
            linear-gradient(to bottom right, #1a1a2e,#5b57d9, #1a1a2e) padding-box;
    }

    #created_date {
        position: absolute;
        right: 16px;
        bottom: 0px;
    }
}

.group-logs-card-body.active {
    border-color: #ffff;
    box-shadow: 1px 2px 2px #ffff;
    background: 
        linear-gradient(to bottom right, #1a1a2e,#5b57d9, #1a1a2e) padding-box;
}


.group-logs-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
        display: flex;
        margin: 0;
        font-size: 1.3rem;
    }
}


.group-logs-context-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.1s ease-out;
}

.group-logs-context-body.active {
    opacity: 1;
    transition: height 0.3s ease-in-out, opacity 0.5s ease-out;
}