.image-profile {
    display: flex;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.performer-session__card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    background-color: #1e1d45;
    transform: scale(0);
    animation: scaleIn 0.4s ease-out forwards;
}

.performer-session__title {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        margin: 0;
    }
}

.performer-session__user-image {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.performer-session__date_created {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.performer-session__body {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;

    p {
        margin: 0px;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}